@import 'styles';

.box {
  position: relative;
}

.notification {
  border-radius: 50%;
  margin-left: 1.5rem;

  img {
    height: 2.6rem;

    @media only screen and (max-width: $bp-medium) {
      height: 1.8rem;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
  }
}

.dropdown-menu {
  width: 20rem;
  font-size: 1.2rem;

  @media only screen and (max-width: $bp-medium) {
    width: 18rem;
  }

  .box {
    max-height: 31rem;
    overflow-y: auto;
  }

  &-header {
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem 2rem;
    color: $white;
    background-color: $color-primary;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
  }

  &-content {
    padding: 1rem 1.5rem;
    border-bottom: 2px solid $color-grey-dark-1;

    .link {
      text-transform: uppercase;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &-footer {
    padding: 1rem 1.5rem;
    color: $white;
    background-color: $color-grey-dark-1;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
  }

  &-footer:hover {
    text-decoration: underline;
  }

  &::before {
    content: '';
    position: absolute;
    right: 9rem;
    top: -1.3rem;
    border-style: solid;
    border-width: 0 0.7rem 1.3rem 0.7rem;
    border-color: transparent transparent $color-primary transparent;
    z-index: 1;

    @media only screen and (max-width: $bp-medium) {
      right: 7.8rem;
    }
  }
}

.dropdown-menu.show {
  transform: none !important;
  border-radius: 3rem;
  position: absolute;
  border: none;
  padding: 0;
  top: 4.5rem !important;
  left: -7.5rem !important;

  @media only screen and (max-width: $bp-medium) {
    top: 3.5rem !important;
  }
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $color-grey-dark-1;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: $color-grey-dark-1;
  border-radius: 1rem;
}
