<div class="box">
  <button
    class="btn notification p-0"
    type="button"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <img src="assets/images/notification.svg" />
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <p class="dropdown-menu-header">{{ newNotifications }} {{ 'NOTIFICATION.NEW_NOTIFICATION' | translate }}</p>
    <div class="box">
      <div class="dropdown-menu-content" *ngFor="let notification of notifications">
        <p class="mb-2">{{ notification.text }}</p>
        <a class="d-flex justify-content-end link">{{ checkType(notification.type) }}</a>
      </div>
    </div>
    <p class="dropdown-menu-footer" (click)="clearNotifications()">
      {{ 'NOTIFICATION.CLEAR_ALL_NOTIFICATIONS' | translate }}
    </p>
  </div>
</div>
