<app-breadcrumb activeItem="ORDER.SUMMARY"></app-breadcrumb>
<div class="heading mt-4 d-flex flex-column">
  <span class="heading-text">{{ 'ORDER.MY_ORDER' | translate }}</span>
  <span class="heading-date">{{ today | date: 'dd.MM.yyyy' }}</span>
</div>
<div *ngFor="let order of orders$ | async | keyvalue">
  <app-order-item [data]="order.value" likes="121" dislikes="5"></app-order-item>
</div>
<div class="d-flex flex-column align-items-end">
  <div class="d-flex justify-content-end order-buttons">
    <app-location-selector class="mr-4"></app-location-selector>
    <app-order-button (confirmOrder)="order()"></app-order-button>
  </div>
  <button class="btn mt-4 cancel-btn" (click)="cancelOrder()">{{ 'BUTTON.CANCEL' | translate }}</button>
</div>
