@import 'styles';

.heading {
  color: $white;
  padding: 2rem;
  background-color: $color-primary;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;

  &-date {
    font-size: 1.8rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.5rem;
    }
  }

  &-text {
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2rem;
    }
  }
}

.order-buttons {
  margin-top: 2rem;
}

.cancel-btn {
  @include button($color-grey-dark-1, $white, 0 3.5rem, 2rem, 600);
  text-transform: uppercase;

  &:hover {
    background-color: $color-grey-dark-2;
  }
}
