<div class="card shadow pb-5 mb-5">
  <div
    class="card-header d-flex justify-content-between align-items-center"
    [class.card-header-red]="carouselType === 'restaurant'"
    [ngStyle]="{ 'background-color': item.color }"
  >
    <div class="d-flex flex-column">
      <div class="d-flex align-items-center">
        <h1 class="title text-uppercase mb-0">
          {{ item.name }}
        </h1>
        <button *ngIf="carouselType === 'restaurant'" class="btn p-0" (click)="onFavourite()">
          <img class="mb-1" src="assets/images/star-{{ starColor }}.svg" alt="star" />
        </button>
      </div>
      <span class="subtitle">{{ item.description }}</span>
    </div>
    <div
      *ngIf="offer && carouselType === 'restaurant'"
      class="special-offer"
      [ngClass]="tooltipColor === 'purple' ? 'special-offer-text--dark yellow' : 'purple'"
    >
      <span>{{ offer }}</span>
    </div>
    <div *ngIf="carouselType === 'foodType'">
      <img src="assets/images/{{ item.icon }}.svg" alt="meal icon" />
    </div>
  </div>
  <div class="card-body p-0">
    <app-meal-item *ngFor="let meal of item.meals" [meal]="meal"></app-meal-item>
    <ng-container *ngIf="carouselType === 'restaurant'">
      <div class="card-separator">
        <span class="text-uppercase d-block">{{ 'FOOD.SOUPS_AND_SIDE_DISHES' | translate }}</span>
      </div>
      <app-meal-item *ngFor="let meal of item.soups_and_side_dishes" [meal]="meal"></app-meal-item>
    </ng-container>
  </div>
</div>
