@import 'styles';

.card {
  max-height: 75vh;
  border-radius: 3rem;
  color: $color-grey-dark-2;

  .price {
    font-size: 2rem;
  }

  .card-header {
    border-radius: 3rem 3rem 0 0;
    color: $white;
    padding: 2rem 1.5rem;

    .subtitle {
      font-size: 1.8rem;
    }

    .title {
      font-weight: 600;
      font-size: 2.5rem;
      margin-right: 0.5rem;

      @media only screen and (max-width: $bp-medium) {
        font-size: 1.8rem;
      }
    }
  }

  .card-header-red {
    background: $color-primary;
  }

  .card-body {
    overflow-y: auto;
    scrollbar-color: $color-grey-dark-1;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0.6rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      background: $color-grey-dark-1;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 5px $color-grey-dark-1;
      box-shadow: inset 0 0 5px $color-grey-dark-1;
      border-radius: 1rem;
    }
  }

  .special-offer {
    width: 15rem;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0 1.5rem 1.5rem;
    position: relative;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.2rem;
      width: 12rem;
    }

    &.yellow {
      background: $color-yellow;

      &::before {
        border-color: transparent transparent $color-yellow;
      }
    }

    &.purple {
      background: $color-bg-purple;

      &::before {
        border-color: transparent transparent $color-bg-purple;
      }
    }

    &-text--dark {
      color: $color-grey-dark-2;
    }

    &::before {
      content: '';
      position: absolute;
      right: 15rem;
      top: 0;
      border-style: solid;
      border-width: 0 0 1.5rem 1.5rem;
      transform: rotate(-90deg);
      z-index: 1;

      @media only screen and (max-width: $bp-medium) {
        right: 12rem;
      }
    }
  }

  &-separator {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    background: $color-yellow;
    font-weight: 600;
  }
}

.semi-bold {
  font-weight: 600;
}
