@import 'styles';

.account {
  font-size: 2rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.4rem;
    width: 100%;
  }
}

.user {
  &-image {
    max-width: 12.2rem;
    border: 0.1rem solid $color-grey-light-2;
    border-radius: 50%;

    @media only screen and (max-width: $bp-medium) {
      max-width: 8rem;
    }
  }

  &-email {
    font-size: 1.4rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1rem;
    }
  }
}

.credit-balance {
  color: $white;
  font-size: 2rem;
  padding: 0 6rem;
  background-color: $color-primary;
  border-radius: 3rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.4rem;
    padding: 0 3rem;
  }
}
