<div class="account d-flex flex-column text-center flex-fill pt-5">
  <ng-container *ngIf="customer$ | async as customer">
    <img class="user-image mx-auto" alt="user photo" [src]="customer.photoUrl || 'assets/images/avatar.jpg'" />
    <h1 class="mt-4">
      <strong>{{ 'ACCOUNT.HELLO' | translate }}</strong>
    </h1>
    <span class="user-name mt-4">{{ customer.name }}</span>
    <span class="user-email">{{ customer.googleUserId }}</span>
    <span class="user-name mt-4">{{ 'ACCOUNT.DEFAULT_LOCATION' | translate }}</span>
    <app-location-selector class="mt-2"></app-location-selector>
    <span class="user-name mt-5">{{ 'ACCOUNT.CREDIT_BALANCE' | translate }}</span>
    <div class="credit-balance mx-auto mt-2">
      <span>{{ customer.balance | currencyFormat }}</span>
    </div>
  </ng-container>
</div>
