@import 'styles';

.comment {
  color: $color-grey-dark-2;
  text-align: justify;
  margin-top: 1rem;

  &-heading,
  &-info {
    padding: 0 3rem;

    @media only screen and (max-width: $bp-medium) {
      padding: 0;
    }
  }

  &-heading {
    display: block;
    font-weight: 600;
    font-size: 2rem;
    margin: 2rem 0 2.5rem;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 3rem;
    }
  }

  &-info {
    font-size: 1.4rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.2rem;
    }
  }

  &-textarea {
    border: 1px solid $color-grey-dark-1;
    border-radius: 3rem;
    margin: 1.3rem 3rem;
    font-size: 1.4rem;
    resize: none;
    max-width: 42rem;
    padding: 1rem 2rem;

    @media only screen and (max-width: $bp-medium) {
      margin: 3rem 0;
    }

    &:focus {
      box-shadow: none;
    }
  }
  ::placeholder {
    color: $color-grey-dark-1;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 300;
  }
}

.width {
  &-30 {
    height: min-content;
    width: 30%;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
    }
  }

  &-70 {
    width: 70%;
    padding-left: 3rem;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      padding: 0;
    }
  }

  &-100 {
    width: 100%;
  }
}

.impressions {
  max-width: 42rem;
}
.comments-container {
  justify-content: space-evenly;

  @media only screen and (min-width: $bp-medium) {
    display: flex;
    justify-content: space-between;
  }
}

app-comment-expand {
  width: 36rem;

  @media only screen and (max-width: $bp-big) {
    width: 90%;
    justify-content: center;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 42rem;
    margin: 1.3rem 0;
  }

  @media only screen and (max-width: $bp-small) {
    width: 100%;
  }
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  padding-top: 3rem;
  width: 100%;

  @media only screen and (max-width: $bp-medium) {
    width: 42rem;
    text-align: center;
  }
}

.wrapper {
  max-width: 100%;
}
