<div class="d-flex flex-column flex-wrap">
  <div class="d-flex align-items-center flex-wrap">
    <app-breadcrumb class="width-30" activeItem="{{ 'COMMENT.COMMENTS' | translate }}"></app-breadcrumb>
    <app-tabs class="width-70" [tabs]="tabs" [activeTab]="tabs[0].tabName" (selectedTab)="onTabChange($event)">
    </app-tabs>
  </div>
  <div class="wrapper d-flex flex-wrap">
    <div class="comment d-flex flex-wrap align-items-start justify-content-around width-30">
      <div class="impressions">
        <span class="comment-heading">{{ 'COMMENT.SHARE_IMPRESSIONS' | translate }}</span>
        <p class="comment-info">{{ 'COMMENT.DESCRIPTION' | translate }}</p>
      </div>
      <textarea
        *ngIf="!commentMode"
        autosize
        rows="1"
        class="form-control comment-textarea"
        placeholder="{{ 'COMMENT.LEAVE_COMMENT' | translate }} ..."
        (click)="onFocus()"
      ></textarea>
      <app-comment-expand *ngIf="commentMode" [commentMode]="commentMode" (modeChanged)="modeChangedHandler($event)">
      </app-comment-expand>
    </div>
    <div class="d-flex justify-content-center flex-wrap width-70">
      <h3 class="title">{{ mealName$ | async }}</h3>
      <div class="comments-container d-flex flex-wrap width-100">
        <app-comment-card *ngFor="let comment of comments" [comment]="comment" [showButtons]="true"> </app-comment-card>
      </div>
    </div>
  </div>
</div>
