@import 'styles';

.btn {
  font-size: $font-tabs;
  font-family: $font-display normal;
  color: $white;
  border-radius: 3rem;
  padding: 0.2rem 1.2rem;
  background-color: $color-grey-dark-1;
  text-transform: uppercase;

  @media only screen and (max-width: $bp-medium) {
    font-size: $font-tabs-small;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1.2rem;
  }

  &.active,
  &:hover {
    background-color: $color-grey-dark-2;
  }
}
