<div class="location pt-0 d-flex justify-content-center align-items-baseline">
  <img class="location-img mr-3" src="assets/images/location.svg" alt="location" />
  <app-select-dropdown
    class="align-self-start"
    [items]="locationSetup"
    [isLocationSelector]="true"
  ></app-select-dropdown>
</div>
