@import 'styles';

.item-selector {
  min-width: 42rem;
  background-color: $color-grey-dark-2;
  color: $white;

  @media only screen and (max-width: $bp-medium) {
    min-width: 30rem;
  }

  &-item {
    color: $white;
    padding: 1.5rem 0;
    cursor: pointer;
    background-color: $color-grey-dark-2;
    min-width: 42rem;
    border-radius: 3rem;

    @media only screen and (max-width: $bp-medium) {
      border-radius: 3rem;
      min-width: 30rem;
    }
  }

  &-img {
    padding: 0;
    z-index: 1;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.4rem;
      width: 2rem;
    }
  }

  &-text {
    font-size: 2rem;
    z-index: 1;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.4rem;
    }
  }

  &-location {
    min-width: 10rem;
    border-radius: 1.5rem;

    @media only screen and (max-width: $bp-medium) {
      border-radius: 2rem;
    }

    &-item {
      padding: 0;
      min-width: 10rem;

      &-red {
        padding-bottom: 0;
        min-width: 10rem;
        border-radius: 2rem;
        background-color: $color-primary;
      }
    }

    &-text {
      padding-top: 0 !important;
      font-size: 2rem;
      min-width: 4rem;

      @media only screen and (max-width: $bp-medium) {
        font-size: 1.4rem;
      }
    }

    &-img {
      padding: 0;

      @media only screen and (max-width: $bp-medium) {
        max-height: 0.7rem;
      }
    }
  }
}

.select-dropdown-container {
  top: 0;
  padding-top: 6.2rem;
  background-color: $color-grey-dark-2;
  border-radius: 3rem;

  @media only screen and (max-width: $bp-medium) {
    padding-top: 5.4rem;
  }

  &-location {
    padding-top: 3rem;
    border-radius: 2rem;

    @media only screen and (max-width: $bp-medium) {
      padding-top: 2.2rem;
      border-radius: 1.5rem;
    }
  }
}
