<div class="selector position-relative" appClickOutside (clickOutside)="closeDropdown()">
  <div
    class="item-selector-item d-flex align-items-center px-4"
    [class.item-selector-location-item]="isLocationSelector"
    (click)="showDropdownItemSelection()"
  >
    <span class="mx-2 item-selector-text" [class.item-selector-location-text]="isLocationSelector">{{
      currentItem.text | translate
    }}</span>
    <img
      class="item-selector-img ml-auto"
      alt="caret down"
      src="assets/images/{{ selectorImg }}.svg"
      [class.item-selector-location-img]="isLocationSelector"
    />
  </div>
  <div
    *ngIf="showItemDropdown"
    class="position-absolute select-dropdown-container"
    [class.select-dropdown-container-location]="isLocationSelector"
  >
    <div
      *ngFor="let item of items"
      class="item-selector-item item-selector-item-content px-4 pt-0"
      [class.item-selector-location-item-red]="isLocationSelector"
      [class.d-none]="item === currentItem"
      (click)="showDropdownItemSelection()"
    >
      <div
        class="mx-2 d-flex flex-fill align-items-center"
        [class.border-top]="!isLocationSelector"
        (click)="selectItem(item)"
      >
        <span class="mr-auto item-selector-text pt-4" [class.item-selector-location-text]="isLocationSelector">{{
          item.text | translate
        }}</span>
      </div>
    </div>
  </div>
</div>
