@import 'assets/styles/styles.scss';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '~@angular/material/theming';

@include mat-core();

$client-app-primary: mat-palette($mat-indigo);
$client-app-accent: mat-palette($mat-pink, A200, A100, A400);
$client-app-warn: mat-palette($mat-red);
$client-app-theme: mat-light-theme($client-app-primary, $client-app-accent, $client-app-warn);

@include angular-material-theme($client-app-theme);

html,
body {
  height: 100%;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }

  p,
  h1,
  span {
    margin: 0;
    padding: 0;
  }
}

body {
  margin: 0;
  background: $color-grey-light-1;
  font-family: $font-display;
}

.toast-message {
  font-size: 1.2rem;
}

.btn:focus {
  box-shadow: none;
}
