@import 'styles';

.box {
  @include box($color-primary, $white);
  font-size: 2.4rem;
  font-weight: 600;
  min-width: 85rem;
  padding: 10rem 10rem 5rem 10rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
    min-width: 42rem;
    font-size: 2rem;
    text-align: center;
  }

  .img {
    margin-bottom: 5rem;
    margin-right: 5rem;

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 3rem;
      margin-right: 2rem;
      max-height: 8rem;
    }

    &-logo {
      @media only screen and (max-width: $bp-medium) {
        max-height: 5rem;
      }
    }
  }

  .btn-ok {
    @include button($white, $color-primary, 0, 2rem, 600);
    padding: 0 6rem;
    margin: 5rem 0;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-medium) {
      margin: 3rem 0;
      padding: 0 4rem;
    }
  }
}
