<div class="box d-flex align-items-center justify-content-center flex-column">
  <img class="img" alt="order image" src="assets/images/order.svg" />
  <p>{{ 'ORDER.SUCCESS_MESSAGE' | translate }}</p>
  <button class="btn btn-ok" data-dismiss="modal" (click)="closeModal()">{{ 'BUTTON.OK' | translate }}</button>
  <img class="img-logo" alt="logo" src="assets/images/logo-order.svg" />
</div>
