@import 'styles';

.info-table {
  width: 100%;
  margin-top: 3rem;
}

.mat-table {
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}

.mat-header-cell {
  font: 600 2.4rem $font-display;
  color: $color-grey-dark-2;
  background: $color-grey-light-3;
  padding: 3.3rem 0;
  border-bottom: none;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.4rem;
  }

  &:first-child {
    border-top-left-radius: 3rem;
  }

  &:last-child {
    border-top-right-radius: 3rem;
  }
}

.mat-cell {
  font: 2rem $font-display;
  color: $color-grey-dark-2;
  background-color: $color-grey-light-3;
  border-bottom: none;
  width: auto;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.4rem;
  }
}
