<table mat-table *ngIf="tableColumns$ | async as tableColumns" [dataSource]="tableData$ | async" class="info-table">
  <ng-container [matColumnDef]="column.code" *ngFor="let column of tableColumns">
    <th mat-header-cell *matHeaderCellDef>{{ column.text | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ transformToDecimalIfNumber(element[column.code]) }}</td>
  </ng-container>
  <ng-container *ngIf="getDisplayedColumns(tableColumns) as displayedColumns">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </ng-container>
</table>
