@mixin arrow($parrent, $child) {
  height: 0rem;
  width: 0rem;
  position: relative;
  left: $parrent;

  & > span {
    position: absolute;
    bottom: -3rem;
    left: $child;
    font-size: 5rem;
    color: $color-grey-dark-1;

    &:hover {
      color: $color-grey-dark-2;
    }
  }
}

@mixin button($bg-color, $color, $padding, $font-size, $font-weight) {
  padding: $padding;
  background-color: $bg-color;
  color: $color;
  border-radius: 3rem;
  font-size: $font-size;
  font-weight: $font-weight;
  box-shadow: 0px 0px 3px $color-grey-dark-5;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.5rem;
  }
}

@mixin box($bg-color, $color) {
  background-color: $bg-color;
  color: $color;
  border-radius: 3rem;
}
