$color-primary: #fb4b4f;
$white: #fff;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #d7d8d9;
$color-grey-light-3: #e9e8eb;
$color-grey-light-4: #d1d1d1;

$color-grey-dark-1: #c1c1c3;
$color-grey-dark-2: #3c3c46;
$color-grey-dark-3: #494953;
$color-grey-dark-4: #e9e8eb;
$color-grey-dark-5: #00000029;

$color-yellow: #ffdf76;
$color-bg-purple: #cb55ba;
