<div class="container">
  <div class="row vh-100 align-items-center">
    <div class="col-12 text-center">
      <img src="assets/ExeBite-logo.svg" class="rounded mb-1 img-fluid" alt="Exebite" />
      <h1 class="text-white">IT'S LUNCH TIME!</h1>
      <div class="row">
        <div class="col-12 text-center">
          <button class="btn btn-light rounded-pill mt-5 px-4" (click)="login()">
            <img src="assets/google-logo.png" class="google-icon mr-4" alt="Google" />
            <strong class="mr-3">Sign in with Google</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
