@import 'styles';

.wrapper {
  width: 42rem;
  background: $white;
  border-radius: 3rem;
  border: 1px solid $color-grey-dark-1;
  font-family: $font-display;
  padding: 2rem;
  margin: 1rem 0;

  @media only screen and (max-width: $bp-small) {
    width: 100%;
  }
}

.user {
  width: 100%;
  &-photo {
    height: 6rem;
    width: 6rem;
    border: 1px solid $color-grey-light-1;
    border-radius: 50%;

    @media only screen and (max-width: $bp-medium) {
      height: 4rem;
      width: 4rem;
    }
  }

  &-name {
    font-size: 2rem;
    font-weight: 600;
  }
}

.comment {
  margin-top: 2.5rem;
  &-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &-text {
    font-size: 1.4rem;
    text-align: justify;
    margin-bottom: 2rem;
  }
}

.likes {
  font-size: 1.6rem;
  color: $color-primary;
}

.date {
  font-size: 1.4rem;
}

.btn {
  padding: 0;

  img {
    width: 1.5rem;
    height: 1.5rem;
  }

  &-like {
    img {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
}
