<div *ngIf="comment" class="wrapper">
  <div class="d-flex align-items-center">
    <img class="user-photo" alt="user photo" [src]="comment.user.photoUrl || 'assets/images/avatar.jpg'" />
    <div class="ml-3 user">
      <div class="d-flex align-items-center justify-content-between">
        <span class="user-name">{{ comment.user.name }}</span>
        <div *ngIf="showButtons" class="d-flex">
          <button class="btn" (click)="edit()">
            <img alt="like" src="assets/images/pencil.svg" />
          </button>
          <button class="ml-3 btn" data-toggle="modal" data-target="#myModal" (click)="openModal()">
            <img alt="like" src="assets/images/trash.svg" />
          </button>
        </div>
      </div>
      <span class="date">{{ comment.date }}</span>
    </div>
  </div>
  <div class="comment">
    <p class="comment-text">{{ comment.comment }}</p>
  </div>
  <div class="d-flex align-items-center">
    <button class="btn btn-like" (click)="like()">
      <img alt="like" src="assets/images/heart.svg" />
    </button>
    <p class="likes ml-3">{{ comment.likes }} {{ 'LIKES' | translate }}</p>
  </div>
</div>
