.modal .modal-content {
  border-radius: 3rem;
  border: none;
}

.modal .modal-dialog {
  min-width: max-content;
}

#myModal {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
