<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  data-backdrop="static"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <app-delete-comment *ngIf="showComponent('DELETE_COMMENT')"></app-delete-comment>
      <app-order-confirmation *ngIf="showComponent('ORDER_CONFIRMATION')"></app-order-confirmation>
    </div>
  </div>
</div>
