@import 'styles';

.bg-grey {
  background: $color-grey-light-3;
}

.meal {
  &-details {
    font-size: 1.6rem;
    padding: 2rem 1rem 0 5rem;

    &.description {
      max-width: 65%;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.3rem;
      padding: 2rem 3rem 0;
    }
  }

  &-comments {
    font-size: 1.6rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.3rem;
      padding-right: 1rem;
    }
  }

  &-item {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 500;
    color: $color-grey-dark-2;
  }

  &-name {
    @media only screen and (max-width: $bp-medium) {
      font-size: 1.5rem;
    }
  }
}

.on {
  transform: rotate(90deg);
}

img {
  @media only screen and (max-width: $bp-medium) {
    max-height: 2rem;
    max-width: 2rem;
  }
}

.h4 {
  font-size: 2rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.5rem;
  }
}

.comment-link {
  text-decoration: underline;
}

.meal-photo {
  max-width: 3rem;
  max-height: 3rem;
  margin-top: 1rem;

  @media only screen and (max-width: $bp-medium) {
    max-height: 2rem;
    max-width: 2rem;
    margin-top: 1.6rem;
  }
}

app-quantity {
  @media only screen and (min-width: $bp-large) {
    margin-top: 0.75rem !important;
  }
}
