<div class="d-flex flex-column justify-content-between align-items-between border-bottom">
  <div [ngClass]="{ 'bg-grey': add }" class="meal-item d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <button class="d-flex align-items-center justify-content-center btn ml-3" (click)="expand()">
        <img [ngClass]="{ on: expanded }" alt="caret down" src="assets/images/right-arrow.svg" />
      </button>
      <span class="meal-name px-3 text-capitalize">{{ meal.name }}</span>
    </div>
    <div class="mr-2 d-flex align-items-center">
      <span class="h4 p-2 mb-0">{{ meal.price | currencyFormat }}</span>
      <button class="btn p-2" (click)="onMealSelected()">
        <img src="assets/images/{{ buttonImg }}.svg" alt="add button" />
      </button>
    </div>
  </div>
  <div *ngIf="expanded" class="bg-grey d-flex flex-column">
    <div class="d-flex justify-content-between">
      <p class="meal-details description">{{ meal.description }}</p>
    </div>
    <div class="meal-details d-flex align-items-center">
      <button class="btn p-0 mr-2">
        <img alt="like" src="assets/images/Like.svg" />
      </button>
      <span class="mr-3">{{ likes }} {{ 'LIKES' | translate }}</span>
      <button class="btn p-0 mr-2">
        <img alt="dislike" src="assets/images/Dislike.svg" />
      </button>
      <span>{{ dislikes }} {{ 'DISLIKES' | translate }}</span>
    </div>
    <div class="meal-details meal-comments pb-4 pt-3 d-flex justify-content-between">
      <button class="d-flex btn pt-4 mr-2 px-0" routerLink="/comments">
        <img class="mr-3" alt="comment" src="assets/images/Comments.svg" />
        <span class="meal-comments comment-link">{{ 'COMMENT.COMMENTS' | translate }}</span>
      </button>
      <div *ngIf="add" class="wrapper d-flex">
        <img class="mr-3 meal-photo" alt="meal" src="assets/images/meal-icon.svg" />
        <app-quantity class="mt-1" [mealId]="meal.id"></app-quantity>
      </div>
    </div>
  </div>
</div>
