@import 'styles';

.header {
  font-family: $font-display;
  padding: 1rem 0;
}

.logo {
  width: 18rem;
  margin-right: 1.5rem;

  @media only screen and (max-width: $bp-medium) {
    width: 9rem;
    margin-right: 1rem;
  }
}

.lang-img {
  @media only screen and (max-width: $bp-medium) {
    height: 2.5rem;
  }
}

.user {
  &-name {
    color: $color-grey-dark-2;
    margin: 0;
    font-weight: 600;
    font-size: 2rem;

    @media only screen and (max-width: $bp-medium) {
      text-align: right;
      font-size: 1.4rem;
    }

    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }

  &-photo {
    position: relative;
    z-index: 3;
    border-radius: 50%;
    height: 6rem;
    border: 1px solid $color-grey-light-1;
    margin-left: 1.5rem;
    cursor: pointer;
    margin-top: 3px;

    @media only screen and (max-width: $bp-medium) {
      height: 3rem;
    }
  }
}

.dropdown {
  &-menu {
    left: -4.3rem !important;
    transform: none !important;
    width: 12rem;
    border-radius: 3rem;
    background-color: $color-grey-dark-1;
    padding-bottom: 1rem;
    padding-top: 6.5rem;
    z-index: 2;

    @media only screen and (max-width: $bp-medium) {
      width: 1rem;
      padding-top: 4rem;
      left: -5.2rem !important;
      border-radius: 2.2rem;
    }
  }

  &-item {
    font-size: 1.6rem;
    color: $white;
    padding: 0.3rem 2.1rem;
    cursor: pointer;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.2rem;
      padding: 0.7rem 1.5rem;
    }
  }

  &-item:hover {
    color: $color-primary;
    background: transparent;
  }
}
