<div class="header d-flex justify-content-between align-items-center">
  <div>
    <img class="logo" src="assets/images/logo.svg" alt="Exebite" />
    <button class="btn p-0" (click)="changeLanguage()">
      <img class="lang-img" src="assets/images/language-{{ currentLanguage }}.svg" alt="language" />
    </button>
  </div>
  <ng-container *ngIf="customer$ | async as customer">
    <div class="d-flex align-items-center">
      <p class="user-name">Bon Appétit, {{ getCustomerFirstName(customer.name) }}!</p>
      <app-notifications></app-notifications>
      <div class="dropdown">
        <img
          id="dropdownMenuButton"
          data-toggle="dropdown"
          class="user-photo"
          alt="User photo"
          [src]="customer?.photoUrl || 'assets/images/avatar.jpg'"
        />
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a routerLink="/my-account" class="dropdown-item">{{ 'MY_ACCOUNT' | translate }}</a>
          <a class="dropdown-item" (click)="logout()">{{ 'LOGOUT' | translate }}</a>
        </div>
      </div>
    </div>
  </ng-container>
</div>
