@import 'styles';

.wrapper {
  background: $white;
  border-radius: 3rem;
  border: 1px solid $color-grey-dark-1;
  padding: 2rem;
  margin: 1rem 1rem;

  ::placeholder {
    color: $color-grey-dark-1;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 300;
  }

  @media only screen and (max-width: $bp-small) {
    width: 100%;
  }

  @media only screen and (max-width: $bp-medium) {
    margin: 1rem 0;
  }
}

.buttons {
  justify-content: flex-end;
  font-size: 1.6rem;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;

  &:focus {
    color: $color-primary;
  }
}

.comment {
  &-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &-textarea {
    border-style: none;
    border-color: Transparent;
    overflow: auto;
    font-size: 1.4rem;
    text-align: justify;
    margin-bottom: 2rem;
    box-shadow: none;
    resize: none;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 2rem;
    }
  }

  &-paragraph {
    color: $color-grey-dark-1;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 300;
  }
}
