<div class="wrapper">
  <textarea
    autosize
    rows="1"
    class="form-control comment-textarea"
    placeholder="{{ 'COMMENT.LEAVE_COMMENT' | translate }} ..."
    maxlength="250"
    [(ngModel)]="currentText"
  ></textarea>
  <p class="comment-paragraph">{{ 'NOTIFICATION.CHARACTERS_LEFT' | translate }} : {{ 250 - currentText.length }}</p>
  <div class="d-flex align-items-center justify-content-end">
    <button class="buttons ml-3">{{ 'BUTTON.SAVE' | translate }}</button>
    <button class="buttons ml-3" (click)="changeMode()">{{ 'BUTTON.DISCARD' | translate }}</button>
  </div>
</div>
