@import 'styles';

.orders {
  @media only screen and (max-width: $bp-medium) {
    margin-top: 5rem;
    width: 100%;
  }
}

.info-selector {
  position: absolute;
  z-index: 2;

  @media only screen and (max-width: $bp-medium) {
    position: relative;
    margin: auto;
  }

  &-table {
    position: relative;

    @media only screen and (min-width: $bp-medium) {
      top: 7rem;
    }
  }
}
