<app-breadcrumb class="width-30" activeItem="ACCOUNT.MY_ACCOUNT"></app-breadcrumb>
<div class="my-account d-flex flex-wrap justify-content-around mt-5">
  <app-account-info class="flex-fill"></app-account-info>
  <div class="orders d-flex flex-column flex-fill">
    <app-select-dropdown
      class="info-selector"
      [items]="myAccountInfos"
      (selectedItem)="setInfoType($event)"
    ></app-select-dropdown>
    <app-table-info class="info-selector-table"></app-table-info>
  </div>
</div>
