<header class="overview-header d-flex align-items-center justify-content-between flex-wrap">
  <app-tabs
    class="width-70 pb-3"
    [tabs]="tabs"
    [activeTab]="tabs[0].tabName"
    (selectedTab)="onTabChange($event)"
  ></app-tabs>
  <app-order-button class="pb-3" (confirmOrder)="checkout()"></app-order-button>
</header>
<app-carousel [carouselList]="setCurrentList" [carouselType]="currentTab"></app-carousel>
