@import 'styles';

.box {
  @include box($color-grey-dark-4, $color-grey-dark-2);
  padding: 4rem 8rem;
  width: max-content;

  @media only screen and (max-width: $bp-medium) {
    width: 46rem;
    padding: 3rem;
  }

  .question {
    font-weight: 800;
    font-size: 2.4rem;
  }

  .btn {
    text-transform: uppercase;
    width: 15rem;

    &-cancel {
      @include button($color-grey-dark-1, $white, 0.2rem 3rem, 2rem, 500);
    }

    &-yes {
      @include button($color-primary, $white, 0.2rem 3rem, 2rem, 500);
    }
  }
}
