<div class="box d-flex flex-column align-items-center justify-content-center">
  <p id="deleteCommentModalLabel" class="question">{{ 'COMMENT.DELETE_MESSAGE' | translate }}</p>
  <app-comment-card [comment]="comment"></app-comment-card>
  <div class="button-section mt-4">
    <button class="btn btn-yes mr-4" data-dismiss="modal" (click)="confirmDelete()">
      {{ 'BUTTON.YES' | translate }}
    </button>
    <button class="btn btn-cancel" data-dismiss="modal" (click)="closeModal()">
      {{ 'BUTTON.CANCEL' | translate }}
    </button>
  </div>
</div>
