<div class="wrapper d-flex align-items-center">
  <button class="btn p-0" [disabled]="quantity === 0" (click)="decrease()">
    <img alt="decrease" src="assets/images/minus.svg" />
  </button>
  <span class="quantity">{{ quantity }}</span>
  <button class="btn p-0" (click)="increase()">
    <img alt="increase" src="assets/images/add-quantity.svg" />
  </button>
</div>
