@import 'styles';

.wrapper {
  background-color: $white;
  border: 1px solid $color-grey-light-4;
  border-radius: 3rem;
  font-size: 2rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .quantity {
    padding: 0 1rem;

    @media only screen and (max-width: $bp-medium) {
      padding: 0 0.7rem;
    }
  }

  img {
    @media only screen and (max-width: $bp-medium) {
      max-height: 2rem;
      max-width: 2rem;
    }
  }
}
