@import 'styles';

.breadcrumb {
  margin-top: 1rem;
  background-color: transparent;
  font-size: 2rem;
  padding: 0.75rem 0;
  font-family: $font-display normal;
  text-transform: uppercase;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.2rem;
    margin-top: 0;
  }

  .active {
    font-weight: 600;
    color: $color-grey-dark-2;
  }

  &-item_menu {
    color: $color-grey-dark-1;

    @media only screen and (max-width: $bp-medium) {
      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &-item + &-item::before {
    content: '|';
    color: $color-grey-dark-1;
    font-weight: 500;
  }

  &-item_menu:hover {
    text-decoration: none;
  }
}
