<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/restaurants" class="d-flex align-items-center breadcrumb-item_menu">
        <img class="mr-3" src="assets/images/group.svg" alt="group image" />
        {{ 'MENU' | translate }}
      </a>
    </li>
    <li class="breadcrumb-item active d-flex align-items-center" aria-current="page">{{ activeItem | translate }}</li>
  </ol>
</nav>
