<owl-carousel-o class="owl-loaded" [options]="carouselOptions">
  <ng-container *ngFor="let item of carouselList">
    <ng-template carouselSlide [id]="item.id" [width]="450">
      <app-meal-card [item]="item" [carouselType]="carouselType"></app-meal-card>
    </ng-template>
  </ng-container>
</owl-carousel-o>
