@import 'styles';

.owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // this z-index will hold hidden arrows container behind slides
  z-index: -1;
  width: 100%;

  @media only screen and (max-width: $bp-carousel) {
    display: none;
  }

  & > :first-child {
    @include arrow(-4rem, -2rem);
  }

  & > :last-child {
    @include arrow(4rem, -1rem);
  }

  & > .disabled {
    visibility: hidden;
  }
}

.owl-stage {
  display: flex;

  & > .owl-item {
    margin: 0 1.5rem;
  }
}
