<div class="box d-flex flex-column mt-4">
  <div class="d-flex align-items-center justify-content-between flex-wrap">
    <div class="d-flex align-items-center wrapper cursor-pointer meal" (click)="expand()">
      <button class="d-flex align-items-center justify-content-center btn mr-4">
        <img class="caret-down" alt="caret down" src="assets/images/{{ arrowDirection }}-arrow.svg" />
      </button>
      <span class="meal-name">{{ order.meal.name }}</span>
    </div>
    <span class="price">{{ order.meal.price | number: '1.2-2' }}</span>
    <button class="btn-remove d-flex align-items-center justify-content-center btn mr-3" (click)="remove()">
      <img alt="remove" src="assets/images/remove.svg" />
    </button>
    <div class="side_dishes wrapper d-flex flex-column dropdown" appClickOutside (clickOutside)="closeDropdown()">
      <div
        class="d-flex align-items-center justify-content-between side_dishes-placeholder cursor-pointer"
        [ngStyle]="{ 'z-index': showCondimentsDropdown ? '2' : '0' }"
        (click)="showCondiments()"
      >
        <span>{{ 'ORDER.CONDIMENTS' | translate }}</span>
        <button class="d-flex align-items-center justify-content-center btn">
          <img alt="caret down" [src]="'assets/images/arrow.svg'" />
        </button>
      </div>
      <div *ngIf="showCondimentsDropdown" class="menu-box">
        <div class="side_dishes-menu">
          <div class="form-check side_dishes-option" *ngFor="let option of order.meal.condiments; let i = index">
            <input
              class="form-check-input"
              type="checkbox"
              [id]="i"
              [disabled]="canSelectCondiment(2, option)"
              [checked]="checkIfSelected(option)"
              (change)="selectCondiment(option, i)"
            />
            <label class="form-check-label d-flex align-items-center" [for]="i">
              {{ option }}
            </label>
          </div>
          <span class="side_dishes-note">{{ 'ORDER.CONDIMENT_NOTE' | translate }}</span>
        </div>
      </div>
    </div>
    <app-quantity [mealId]="order.meal.id"></app-quantity>
    <input
      *ngIf="order"
      class="wrapper meal-note"
      type="text"
      [(ngModel)]="note"
      (ngModelChange)="onNoteChange($event)"
    />
  </div>
  <div *ngIf="expanded">
    <div class="d-flex align-items-center justify-content-between flex-wrap">
      <p class="meal-details">{{ order.meal.description }}</p>
      <div class="meal-details d-flex align-items-center mt-4">
        <img (click)="like()" class="mr-4 cursor-pointer" alt="comment" src="assets/images/Like.svg" />
        <span class="mr-4">{{ likes }} {{ 'LIKES' | translate }}</span>
        <img (click)="dislike()" class="mr-3 cursor-pointer" alt="comment" src="assets/images/Dislike.svg" />
        <span>{{ dislikes }} {{ 'DISLIKES' | translate }}</span>
        <div class="meal-details meal-comments pb-4">
          <img class="mr-3" alt="comment" src="assets/images/Comments.svg" />
          <a routerLink="/comments" class="comments">{{ 'COMMENT.COMMENTS' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
