@import 'styles';

.box {
  font-family: $font-display;
  background-color: $color-grey-light-3;
  border-radius: 3rem;
  font-size: 2rem;
  color: $color-grey-dark-2;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1rem;
  }
}

.meal {
  &-name {
    width: 35rem;
    font-weight: 600;

    @media only screen and (max-width: $bp-medium) {
      width: 20rem;
    }
  }

  &-details {
    font-size: 1.6rem;
    padding: 2rem 5rem 0 3rem;
    width: 35rem;

    @media only screen and (min-width: $bp-large) {
      padding: 1rem 3rem 0 4rem;
    }

    @media only screen and (max-width: $bp-medium) {
      padding: 1rem 3rem 0 3rem;
    }
  }

  &-comments {
    text-decoration: underline;
    padding-left: 4rem;
    @media only screen and (max-width: $bp-medium) {
      padding-left: 6rem;
    }
  }

  &-note {
    width: 23rem;
    color: $color-grey-dark-2;
    font-style: italic;
  }
}

.caret-down {
  width: 1.7rem;
  height: 1.7rem;

  @media only screen and (max-width: $bp-medium) {
    .caret-down {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.menu-box {
  width: 26rem;
  background: $white;
  position: absolute;
  z-index: 1;
  top: 2.2rem;
  left: -0.09rem;
  border: 1px solid $color-grey-light-4;
  border-top: none;
  border-radius: 0 0 3rem 3rem;
  padding: 1rem 1.5rem 0 1.5rem;

  @media only screen and (max-width: $bp-medium) {
    width: 15rem;
  }
}

.side_dishes {
  width: 26rem;

  @media only screen and (max-width: $bp-medium) {
    width: 15rem;
  }

  &-menu {
    width: 22rem;
    background: $white;
    margin-top: 1rem;
    border-radius: 0 0 3rem 3rem;
    border-top: 1px solid $color-grey-light-4;

    @media only screen and (max-width: $bp-medium) {
      width: 12rem;
    }
  }

  &-placeholder {
    position: relative;
    z-index: 2;
  }

  &-option {
    padding: 1rem 0;
    border-bottom: 1px solid $color-grey-light-4;
  }

  &-note {
    width: 23rem;
    font-size: 1.4rem;
    font-style: italic;
    padding: 1rem 0;
  }
}

.wrapper {
  background-color: $white;
  border: 1px solid $color-grey-light-4;
  border-radius: 3rem;
  padding: 1rem 1.5rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: $bp-medium) {
  img {
    height: 2rem;
  }
}

.btn {
  height: 2.2rem;
  border-radius: 50%;

  &-remove {
    order: 2;
  }
}

.price {
  margin: 0;
  font-weight: 600;
  min-width: 6rem;
  text-align: center;
  order: 1;

  @media only screen and (max-width: $bp-big) {
    margin-bottom: 1.2rem;
    order: 0;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.5rem;
  }
}

.comments {
  cursor: pointer;
  color: inherit;
}

input:focus {
  outline: none;
}

input[type='checkbox'] {
  visibility: hidden;
}

input[type='checkbox'] + label:before {
  border: 1px solid $color-grey-dark-2;
  content: '\00a0';
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 1rem 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}

input[type='checkbox']:checked + label:before {
  background: $white;
  color: $color-grey-dark-2;
  content: '\2714';
  text-align: center;
  font-weight: 800;
}

.cursor-pointer {
  cursor: pointer;
}

@media only screen and (max-width: $bp-big) {
  .meal-note,
  .side_dishes {
    width: 40%;
  }

  .meal,
  .btn-remove {
    margin-bottom: 1.2rem;
    order: 0;
  }

  .meal {
    width: 60%;
  }
}

@media only screen and (max-width: $bp-medium) {
  .meal-note,
  .side_dishes {
    width: 40%;
  }

  .meal,
  .btn-remove {
    margin-bottom: 1.2rem;
  }

  .side_dishes,
  app-quantity {
    margin-bottom: 0;
  }

  .meal {
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .meal-note {
    width: 100%;
  }

  .meal,
  .side_dishes,
  app-quantity,
  .btn-remove {
    margin-bottom: 1.2rem;
  }

  .side_dishes,
  .meal {
    width: 70%;
  }
}

@media only screen and (max-width: $bp-small) {
  .meal,
  .side_dishes {
    width: 67%;
  }
}
