@import 'styles';

.order-buttons {
  border-radius: 3rem;
  font-size: $font-tabs;
  background: $color-grey-light-3;
  font-weight: bold;

  @media only screen and (max-width: $bp-medium) {
    font-size: $font-tabs-small;
  }

  .price {
    padding: 0 1rem 0 4rem;
  }

  .btn {
    border-radius: 3rem;
    padding: 0 4rem;
    background: $color-primary;
    color: $white;
    font-size: inherit;
    font-weight: inherit;

    &:hover {
      background-color: $color-grey-dark-2;
    }
  }
}
