<div class="order-buttons d-flex align-items-center justify-content-between">
  <span class="price">{{ price$ | async | currencyFormat }}</span>
  <button class="text-uppercase btn" data-toggle="modal" data-target="#myModal" (click)="order()">
    {{ 'BUTTON.ORDER' | translate }}
  </button>
</div>
